<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <title></title>
</head>
<body>


<div class="MainWrapper">
  <div class="MainContent">
    <div>
      <h1>Please login</h1>
    </div>
    <div class="UsernameField"> 
      <div>
        <input ng-model="" type="text" placeholder="Username" />
      </div>
    </div>
    <div class="PasswordField">
      <div>
        <input ng-model="" type="text" placeholder="Password" />
      </div>
    </div>
    <div class="ButtonField">
      <div>
        <button ng-click="">LOGIN</button>
      </div>
      <div>
        <button ng-click="registration()">REGISTER</button>
      </div>
    </div>
  </div>
</div>


</body>
</html>